table.mapListHeader {
    width: 100%;
    margin-top: -20px;
    border-spacing: 0;
}

table.mapListHeader h1 {
    margin-top: 20px;
}

table.mapListHeader .mapSorting {
    width: 400px;
    position: relative;
}

table.mapListHeader .mapSorting select {
    position: absolute;
    top: 19px;
    right: 20px;
}

table.mapListHeader .mapSorting input {
    margin: 3px 0;
}

table.mapListHeader .mapSorting .checkboxContainer {
    margin-top: 4px;
}

table.mapListHeader .actions {
    width: 250px;
    text-align: right;
}

table.mapListHeader .actions button {
    font-size: 20px;
    margin-bottom: 3px;
}

table.maps {
    width: 100%;
    border-spacing: 0;
}

table.maps > tbody > tr:nth-child(odd) {
    background-color: #0002;
}

table.maps > tbody > tr.loaded {
    background-color: #0802;
}

table.maps > tbody > tr > td {
    height: 180px;
    padding: 5px 12px;
}

table.maps td.one {
    width: 320px;
    text-align: center;
    padding: 5px;
}

table.maps td.one img {
    vertical-align: middle;
    max-width: 320px;
    max-height: 180px;
}

table.maps td.two {
    width: 550px;
    vertical-align: top;
}

table.maps td.three {
    vertical-align: top;
    position: relative;
}

table.maps .title {
    padding-top: 3px;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 550px;
}

table.floatLeftRight {
    width: 100%;
    border-spacing: 0;
}

table.floatLeftRight > tbody > tr > td:last-child {
    text-align: right;
}

table.maps table.udkAndAuthor span {
    color: #888;
    font-size: 16px;
}

table.udkAndAuthor div {
    padding-top: 5px;
    font-size: 22px;
}

table.maps .description {
    margin-top: 5px;
    font-size: 16px;
    max-height: 100px;
    max-width: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

table.maps button.loadMapButton {
    font-size: 20px;
}

table.maps .actions table:first-child {
    padding-top: 3px;
}

img.favorite {
    height: 32px;
    filter: grayscale(1);
    transition-duration: 1s;
    transition-property: filter, transform;
    cursor: pointer;
}

img.favorite.isFavorite {
    filter: grayscale(0);
    transform: rotate(360deg);
}

table.maps td.three button.refreshMapMetadataButton {
    margin-top: 12px;
    margin-bottom: 8px;
}

table.maps td.three span.lastLoaded {
    white-space: nowrap;
    font-size: 14px;
}

table.maps td.three div.mapIDAndSize {
    font-size: 14px;
    position: absolute;
    bottom: 5px;
}