table.mapListHeader {
    width: 100%;
    margin-top: -20px;
    border-spacing: 0;
}

table.mapListHeader h1 {
    margin-top: 20px;
}

table.mapListHeader .mapSorting {
    width: 400px;
    position: relative;
}

table.mapListHeader .mapSorting select {
    position: absolute;
    top: 19px;
    right: 20px;
}

table.mapListHeader .mapSorting input {
    margin: 3px 0;
}

table.mapListHeader .mapSorting .checkboxContainer {
    margin-top: 4px;
}

table.mapListHeader .search {
    width: 250px;
    position: relative;
    padding-left: 50px;
}

table.mapListHeader .search > label {
    font-size: 22px;
    font-weight: bold;
    margin-left: 4px;
}

table.mapListHeader .search > input {
    width: 140px;
    position: absolute;
    top: 18px;
    right: 8px;
}

table.mapListHeader .search > div {
    margin-top: 4px;
}

img.favorite {
    filter: grayscale(1);
    transition-duration: 1s;
    transition-property: filter, transform;
    cursor: pointer;
}

img.favorite.isFavorite {
    filter: grayscale(0);
    transform: rotate(360deg);
}

.map.hidden {
    display: none;
}

/*
Compact List
 */

table.maps.compactList {
    width: 100%;
    border-spacing: 0;
}

table.maps.compactList > tbody > tr.odd {
    background-color: #0002;
}

table.maps.compactList > tbody > tr.loaded {
    background-color: #0802;
}

table.maps.compactList > tbody > tr > td {
    height: 36px;
    padding: 5px 12px;
    vertical-align: middle;
}

table.maps.compactList td.one {
    width: 64px;
    text-align: center;
    padding: 5px 5px 1px;
}

table.maps.compactList td.one img {
    max-width: 64px;
    max-height: 36px;
}

td.two div, td.three div {
    padding-top: 2px;
}

table.maps.compactList td.two .title {
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 430px;
}

table.maps.compactList td.three .authorName {
    font-size: 18px;
}

table.maps.compactList td.four {
    width: 240px;
}

table.maps.compactList td.four div.lastLoaded {
    font-size: 14px;
}

table.maps.compactList td.five {
    width: 130px;
}

table.maps.compactList td.five button.loadMapButton {
    font-size: 20px;
}

table.maps.compactList td.six img.favorite {
    height: 32px;
}

/*
Detailed List
 */

table.maps.detailedList {
    width: 100%;
    border-spacing: 0;
}

table.maps.detailedList > tbody > tr.odd {
    background-color: #0002;
}

table.maps.detailedList > tbody > tr.loaded {
    background-color: #0802;
}

table.maps.detailedList > tbody > tr > td {
    height: 180px;
    padding: 5px 12px;
}

table.maps.detailedList td.one {
    width: 320px;
    text-align: center;
    padding: 5px;
}

table.maps.detailedList td.two {
    width: 550px;
    vertical-align: top;
}

table.maps.detailedList td.three {
    vertical-align: top;
    position: relative;
}

table.maps.detailedList td.one img {
    vertical-align: middle;
    max-width: 320px;
    max-height: 180px;
}

table.maps.detailedList td.two .title {
    padding-top: 3px;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 550px;
}

table.maps.detailedList td.two table.udkAndAuthor span {
    color: #888;
    font-size: 16px;
}

table.maps.detailedList td.two table.udkAndAuthor div {
    padding-top: 5px;
    font-size: 22px;
}

table.maps.detailedList td.two .description {
    margin-top: 5px;
    font-size: 16px;
    max-height: 106px;
    max-width: 550px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

table.maps.detailedList td.three button.loadMapButton {
    font-size: 20px;
}

table.maps.detailedList td.three img.favorite {
    height: 32px;
}

table.maps.detailedList td.three button.refreshMapMetadataButton {
    margin-top: 12px;
    margin-bottom: 8px;
}

table.maps.detailedList td.three span.lastLoaded {
    white-space: nowrap;
    font-size: 14px;
}

table.maps.detailedList td.three div.mapIDAndSize {
    font-size: 14px;
    position: absolute;
    bottom: 5px;
}

/*
Grid View
 */

div.maps.gridView {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

div.maps.gridView > div {
    width: 368px;
    padding: 9px;
}

div.maps.gridView > div.loaded {
    background-color: #0803 !important;
}

div.maps.gridView > div.odd:not(.filler) {
    background-color: #0003;
}

div.maps.gridView .one {
    width: 100%;
    height: 207px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.maps.gridView .one > * {
    max-width: 100%;
    max-height: 100%;
}

div.maps.gridView .title {
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.maps.gridView img.favorite {
    height: 32px;
    margin-top: 2px;
}

div.maps.gridView .three {
    margin-top: -5px;
    margin-bottom: -1px;
}

div.maps.gridView .lastLoaded {
    font-size: 14px;
    margin-bottom: 2px;
}

div.maps.gridView .three td:nth-child(2) {
    vertical-align: bottom;
}

div.maps.gridView .loadMapButton {
    font-size: 16px;
}
